body{
    background-color: rgba(26, 11, 46, 1);;
    color: lightgray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}
.navbar-1{
    color: rgba(255, 255, 255, 1);
}
.navbar-2{
   background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.items{
    flex-direction: row;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.font-tech{
    font-size: 80px;
    color: white;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 40px;

    
}
.nav-link{
      text-decoration: none;
      color: white;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.btn{
    height: 10rem;
    width: 30rem;
    font-size: 3rem;
}
.font-small{
    color: lightgray;
}

.linear-btn{
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 30rem;
    gap: 4;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.linear-btn:hover{
    transform: scale(1.05);
}
.bg{
    display: block;
    position: relative;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 900px;
}
.circle{
    display: block;
    position: relative;
    width: 21%;
    align-items: center;
    transform: translate(0%, -150%);
    margin: 0 auto;
    height: 600px;
}
.microphone{
    display: block;
    position: relative;
    width: 7%;
    transform: translate(0%, -650%);
    margin: 0 auto;
    height: 200px;
}
.badge{
    display:block;
    position: relative;
    z-index: auto;
    transform: translate(90em, -62em);
    background-color: rgba(0, 255, 136, 1);
    color: rgba(26, 11, 46, 1);
    border-radius: 100px;
    padding: 4px 8px 4px 8px;
    text-align: center;
    justify-content: center;
    height: 4%;
    width: 4%;  
    font-size: 25px;
    align-items: center;
}
.tech-wave{
    color: white;
    text-align: center;
    align-items:flex-start;
    justify-content: center;
    margin-top: -1000px;
    position:absolute;
    height: 800px;
    width: 100%;
}
.listen-btn{
    border-radius: 1000px;
    padding: 6px 20px 10px 10px;
    align-items: center;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    border: none;
}
.linear-btn img {
    height: 40rem;
}
.sub-btn{
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border-radius: 1000px;
    padding: 12px 20px ;
    font-weight: 600;
}
.image-container {
  position: relative; 
  display: inline; 
  height: 100px;
  width: 100%;
  padding: 50px 200px 120px 200px;
}
.podcast{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 50px 200px 120px 200px;
}
.q{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 200px 120px 200px;
    font-size: 2.5rem;
    
}
.p{
    background: rgb(31, 5, 64);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 200px 120px 200px;
    font-size: 2.5rem;
    width: 100%;
}
.line{
    border-bottom: 1px solid rgba(203, 173, 173, 0.206);
    position: relative;
    margin-right: auto;
    height: 400px;
    width: 100%;
    opacity: 1;
    margin: bottom 2000px;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    align-items: center;
    margin-top: 0px;
}
.card{
    align-items: center; 
}
.clr{
     color: rgba(0, 255, 136, 1);
}
.choose-tech{
    justify-content: center;
    align-items: center;    
}
.grid-container{
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    gap: 40px;
    width: 100%;
    padding: 50px 200px 120px 200px; 
    justify-content: space-evenly;
    margin: 50px;
}
.box {
    display: grid;
    align-items: center;
    border-radius: 100px;
    padding-left: 50px;
    font-size: 2.5rem;
    background-color: rgba(53, 17, 101, 0.4);
}
.premium{
    grid-row:  1 / 3;;
    grid-column: 1 / 2;
}
.mobile{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}
.global{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.exclusive{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.rich{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.box img {
    height: 7rem;
}
.x{
  z-index: 2;
}
.episode{
    justify-content: center;
    align-items: center;
    padding: 50px 200px 120px 200px;
    font-size: 2.5rem;

    display: flex;
    flex-direction: column;
    width: 100%;
}
.card-container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
}
.card-2{
    margin: 12px; 
    align-items: center;
    border-radius: 100px;
    padding: 50px 200px 120x 200px;
    font-size: 2.5rem;
    background-color: rgba(53, 17, 101, 0.4);
    overflow: hidden;
}
.card-2 iframe{
    width: 100%;
    height: 600px;
    border: none;
}
.content-2{
    padding: 50px;
}
.fe-epi{
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.alex{
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    width: 100%;
    border-radius: 100px;
    padding: 50px;
}
.footer1{
       justify-content: center;
    align-items: center;
    padding: 50px 200px 120px 200px;
    font-size: 2.5rem;

    display: flex;
    flex-direction: column;
    width: 100%;  
}
.host{
    align-items: center;
}
.kumar{
    padding: 30px;
}
.footer-bg{
    width: 100%;
}
.footer-cont{
    position: relative; 
  display: inline; 
  height: 100px;
  width: 100%;
}
.foot-tech{
     display: block;
    position: relative;
    width: 21%;
    align-items: center;
    transform: translate(0%, -150%);
    margin: 0 auto;
    height: 600px;
}