body{
    background-color: rgba(26, 11, 46, 1);;
    color: lightgray;
    width: 100%

}
.navbar-1{
    color: rgba(255, 255, 255, 1);
}
.navbar-2{
    color: (--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.items{
    flex-direction: row;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    font-size: 30px;
}
.font-tech{
    font-size: 80px;
    color: white;
}
.font{
    font-size: 60px;
}

.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 40px;
    
}
.nav-link{
      text-decoration: none;
      color: white;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.btn{
    font-size: 25px;
    height: 50px;
    width: 300px;
}
.font-small{
    font-size: 20px;
    color: lightgray;
}
.font-medium{
    font-size: 30px;
}

.linear-btn{
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    width: 200px;
    gap: 4;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.linear-btn:hover{
    transform: scale(1.05);
}
.bg{
    display: flex;
    position: relative;
    justify-content: center;
    width: 1440px;
    margin: 0 auto;
}
.circle{
    display: flex;
    position: relative;
    top: -650px;
    right: -545px;
    width: 1440px;
    margin: 0 auto;
}
.microphone{
    display: flex;
    position: relative;
    right: -665px;
    top: -925px;
    width: 1440px;
    margin: 0 auto;
}
.badge{
    position: relative;
    top: -1160px;
    right: -870px;
    width: 45px;
    height: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 255, 136, 1);
    color: rgba(26, 11, 46, 1);
    border-radius: 1000px;
    padding: 8px 16px 8px 16px;
    text-align: center;
    font-size: large;
    font-weight: bold;
}
.tech-wave{
    text-align: center;
    margin-top: -35rem;
    position: relative;
    top: -300px;
}
.listen-btn{
    border-radius: 1000px;
    padding: 6px 20px 10px 10px;
    align-items: center;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    border: none;
}   
.sub-btn{
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border-radius: 1000px;
    padding: 12px 20px ;
    font-weight: 600;
}
.podcast{
    text-align: center;
    margin-top: -200px;
    height: 400px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;;
}
.clr{
     color: rgba(0, 255, 136, 1);
}
.choose-tech{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
}
.grid-container{
    display: grid;
    background: rgba(26, 11, 46, 1);
     display: grid;
    grid-template-columns: repeat(3,400px);
    grid-template-rows: repeat(3,400px);
    padding: 20px;
    border: 1px solid;
    gap: 16px;
    width: 1600px;
    height: 4221px;
    background: rgba(26, 11, 46, 1);
    
}
.sidebar{
    display: grid;
}
#grid-1{
    grid-template-columns: span 1;
}
