body{
    background-color: rgba(26, 11, 46, 1);;
    color: lightgray;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}
.navbar-1{
    color: rgba(255, 255, 255, 1);
}
.navbar-2{
    color: (--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.items{
    flex-direction: row;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.font-tech{
    font-size: 80px;
    color: white;
}
.nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 40px;
    margin-top: 65px;
    
}
.nav-link{
      text-decoration: none;
      color: white;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
    
}
.btn{
    height: 10rem;
    width: 30rem;
    font-size: 3rem;
}
.font-small{
    color: lightgray;
}

.linear-btn{
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 30rem;
    gap: 4;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
}
.linear-btn:hover{
    transform: scale(1.05);
}
.bg{
    display: block;
    position: relative;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: auto;
}
.circle{
    display: block;
    position: relative;
    width: 20%;
    transform: translate(0%, -200%);
    margin: 0 auto;
    height: auto;
}
.microphone{
    display: block;
    position: relative;
    width: 5%;
    transform: translate(0%, -720%);
    margin: 0 auto;
    height: auto;
}
.badge{
    display: block;
    position: relative;
    transform: translate(1550%, -5000%);
    margin-top: 490px;
    width: 2%;
    height: 7%;
    background-color: rgba(0, 255, 136, 1);
    color: rgba(26, 11, 46, 1);
    border-radius: 1000px;
    padding: 8px 16px 8px 16px;
    text-align: center ;
    font-size: large;
    font-weight: bold;
    height: auto;
}
.tech-wave{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 10rem;
    padding: 1rem;
    color: white;
    width: 80%;
    text-align: center;
}
.listen-btn{
    border-radius: 1000px;
    padding: 6px 20px 10px 10px;
    align-items: center;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: white;
    border: none;
}
.linear-btn img {
    height: 40rem;
}
.sub-btn{
    border: 1px solid rgba(0, 255, 136, 1);
    background-color: transparent;
    color: rgba(0, 255, 136, 1);
    border-radius: 1000px;
    padding: 12px 20px ;
    font-weight: 600;
}
.image-container {
  position: relative;
  width: 100%;
}
.podcast{
    text-align: center;
    height: 400px;
    transform: translate(-0%, -500%);
}
.border{
    border-bottom: 1px solid rgba(65, 37, 103, 1);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    margin-top: -90rem;
}
.clr{
     color: rgba(0, 255, 136, 1);
}
.choose-tech{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
}
.grid-container{
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    gap: 20px;
    margin: 200px;
    padding: 120px 200px 120px 200px;
    
}
.box {
    margin: 12px; 
    display: grid;
    align-items: center;
    border-radius: 100px;
    padding-left: 50px;
    font-size: 5rem;
    background-color: rgba(53, 17, 101, 0.4);

}
.premium{
    grid-row:  1 / 3;;
    grid-column: 1 / 2;
}
.mobile{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}
.global{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.exclusive{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.rich{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.box img {
    height: 7rem;
}
.x{
  z-index: 2;
}
/* Phones */
@media screen and (max-width: 2092px) {
    .font-tech {
        font-size: 3rem;
    }
    .tech-wave {
        font-size: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    .font-tech {
        font-size: 2rem;
    }
    .tech-wave {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 760px) {
    .font-tech {
        font-size: 1rem;
    }
    .tech-wave {
        font-size: 0.5rem;
        transform: translate(1550%, -5000%);
    }
    .box{
        font-size: 2rem;
    }
}