.podcast{
    text-align: center;
    
    height: 400px;
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    transform: translate(0%, -620%);
}
.card-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;;
}
.clr{
     color: rgba(0, 255, 136, 1);
}
.choose-tech{
    text-align: center;
    margin-top: 100px;
    font-weight: 700;
}
.grid-container{
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 600px);
    gap: 20px;;
    background-color: rgba(53, 17, 101, 0.4);
}
.box {
    border: 2px solid;
  background-color: rgba(26, 11, 46, 1);;
  color: white;
  font-size: 5rem;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.premium{
    grid-row:  1 / 3;;
    grid-column: 1 / 2;
}
.mobile{
    grid-row: 1 / 2;
    grid-column: 2 / 4;
}
.global{
    grid-row: 2 / 3;
    grid-column: 2 / 4;
}
.exclusive{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
}
.rich{
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}
.box img {
    height: 7rem;
}